* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.hotel_name {
  text-align: center;
  padding: 0.31rem;
  color: rgb(54, 89, 132);
  font-size: 1.2rem;
}
.center_div {
  background-color: rgb(80, 83, 170);
  width: 400px;
  height: 400px;
}
.list a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
  margin-right: 2.2rem;
  font-size: 1.2rem;
  color: white;
}
.subdiv {
  display: flex;
  justify-content: end;
}

.nav {
  background-color: rgb(54, 89, 132);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  width: 100%;
  /* position: static; */
}

.icon img {
  width: 50px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}
.body_img img {
  height: 50vh;
  width: 100vw;
  object-fit: cover;
}

.over_img h1,
p {
  text-transform: uppercase;
  color: white;
}
.over_img {
  height: 400px;
  width: 500px;
  background-color: rgb(68, 68, 142);
  position: absolute;
  bottom: 20px;
  right: 2;
}
.footer_div {
  height: 1200px;
  width: 900px;
  background-color: black;
}
