* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --text-color: snow;
  --bgc: snow;
  --colorOne: #eef7ff;
  --colorTwo: #cde8e5;
  --colorThree: #7ab2b2;
  --colorFour: #4d869c;
}
li {
  list-style: none;
}
.topper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topper-right {
  display: flex;
  gap: 1vw;
}
.hotel_name {
  text-align: center;
  padding: 0.31rem;
  color: rgb(54, 89, 132);
  font-size: 1.2rem;
}
.center_div {
  background-color: #4d869c;
  width: 400px;
  height: 400px;
}
.list a {
  text-decoration: none;
  color: var(--text-color);
}
.subdiv li {
  list-style: none;
  margin-right: 2.2rem;
  font-size: 1.2rem;
  color: #eef7ff;
  font-weight: 500;
}
.subdiv {
  display: flex;
  /* justify-content: end; */
  align-items: center;
  /* background-color: rgb(59, 117, 167); */
}
.ri-menu-3-line {
  display: none;
  font-size: 20px;
  /* font-weight: 8000; */
}
.nav {
  background-color: var(--colorFour);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.icon img {
  width: 50px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}
.over_img {
  background-image: url("/pictures/ciudad-maderas-MXbM1NrRqtI-unsplash.jpg");
  /* filter: blur(2px); */
  /* -webkit-filter: blur(8px); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55vh;
  flex-direction: column;
  margin-top: 50px;
  line-height: 5vh;
}

.over_img h1 {
  text-transform: uppercase;
  color: white;
  font-size: 5vh;
  font-weight: 500px;
}
.over_img p {
  text-transform: uppercase;
  color: white;
  font-size: 2vh;
  font-weight: 200px;
  /* margin-top: 20px; */
  /* margin-bottom: 50px; */
}

/* **********popular searche starts here********** */
.popular_search {
  display: flex;
  justify-content: center;
  background-color: cadetblue;
}
.popular_searches_maindiv {
  display: flex;
  gap: 1vw;
  align-items: center;
  background-color: rgb(156, 173, 173);
}
.popular_searches_photoDiv img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.popular_searches_descriptionDiv {
  width: 200px;
  height: 200px;
}
.popular_searches_cities {
  display: flex;
  justify-content: space-between;
}
/* **********popular searche ends here********** */

/* photo galary starts here */
.photo_galaryone {
  width: 100%;
  height: 80vh;
  /* background-color: rgb(227, 209, 243); */
  background-color: rgb(225, 221, 251);
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo_galaryone_div {
  background-color: bisque;
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
.photo_galarytwo {
  background-color: var(--colorFour);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 50vh;
  width: 90%;
}
.photo_galarytwo div {
  /* border: 2px solid black; */
  /* padding: 10px; */
  /* border-radius: 15px; */
  overflow: hidden;
}
.photo_galarytwo img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.photo_galarytwo img:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
/* photo galary ends here */
.our_app {
  display: flex;
  justify-content: center;
  padding: 50px;
  /* background-color: rgb(209, 166, 202); */
  background-color: rgb(225, 221, 251);
}
.app {
  width: 90%;
  height: 50vh;
  /* align-items: center ; */
  display: flex;
  justify-content: space-between;
  /* background-color: wheat; */
  padding-left: 1vw;
}
.our_app_main {
  /* background-color: rgb(255, 224, 224); */
  /* filter: blur(7px) brightness(90%); */
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  /* padding-left: 5vw; */
  justify-content: center;
  /* align-items: center; */
}
.our_app_main div {
  padding: 2vh;
}
.our_app_list {
  display: flex;
  color: white;
  justify-content: space-between;
}
.our_app_list p i {
  margin: 5px;
}
.mobile_number input {
  border-style: none;
  padding: 1vh;
}
.our_app img {
  width: 200px;
  height: 40vh;
  border-radius: 25px;
}
.our_app_image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
}
.platform_logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  /* background-color: blue; */
  margin-left: 30%;
  /* color: black; */
  font-size: 40px;
}
.ri-android-fill {
  font-size: 35px;
  margin-top: 5px;
}
/* ++++++++++++++++++++++ */
.wedding_catagories_main {
  background-color: rgb(227, 203, 250);
}
.wedding_catagories_heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.wedding_catagories_main h2 {
  text-wrap: nowrap;
}
.wedding_catagories_sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(226, 242, 249);
  padding: 60px 0;
}
.wedding_catagories {
  width: 600px;
  height: 150px;
  margin: 10px;
  background-color: #7a9ae5;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.wedding_catagories_written {
  padding-left: 20px;
}
.wedding_catagories_img img {
  height: 200px;
  /* border-radius: 50px; */
  object-fit: cover;
  clip-path: ellipse(99% 180px at 100% 50%);
  /* overflow: hidden; */
}

/* ******AL Venture inhouse services starts********** */
.card_main {
  background-color: #b4c6f1;
  width: 40vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  /* gap: 2vw; */
  /* border: 2px solid red; */
  flex-wrap: wrap;
  overflow: hidden;
}
.card_sub {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: ; */
}
.card_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: bisque; */
}
.card_button {
  display: flex;
  justify-content: center;
  /* background-color: blue; */
  height: 5vh;
}
.card_button button {
  border-style: none;
  background-color: #fff;
  /* color: rgb(222, 144, 157); */
  height: 4vh;
  width: 6vw;
}
.card_button button:hover {
  background-color: #365984;
  cursor: pointer;
  color: #fff;
}
.card_photo img {
  width: 550px;
  height: 200px;
  object-fit: cover;
}
.card_photo {
  width: 550px;
  height: 200px;
  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
  box-sizing: border-box;
  background-color: #365984;
}
.card_photo img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.inhouse_services_main {
  display: flex;
  /* height: 100vh; */
  gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
}
/* ******AL Venture inhouse services ends here********** */

/* ++++++++++++++++++++++ */
.inhouse_services_main {
  display: flex;
  height: 100vh;
}
.footer_main {
  height: 60vh;
  width: 100%;
  background-color: rgb(121, 121, 183);
  display: flex;
  justify-content: center;
  align-items: end;
}
.upper_div {
  width: 80%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid rgb(45, 45, 45);
  padding: 80px 0px;
}
.about_us {
  height: auto;
  width: 100%;
  background-color: rgb(225, 221, 251);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.about_details {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 2vh;
  line-height: 1.5vw;
}
.about_us_content_box {
  /* background-color: rgb(255, 255, 255); */
  margin-top: 5vh;
  width: 80%;
}
.about_us_content_box h3 {
  margin-bottom: 2vh;
}
.social_media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: rgb(202, 220, 251); */
  width: 80%;
  height: auto;
  height: 40vh;
  padding-top: 5vh;
}
.contact_us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3vh;
}
.contact_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}
.contact_vendor {
  border-right: 1px solid grey;
  padding-right: 1vw;
}
.contact_users {
  padding-left: 2vw;
}
.adress {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50vh;
  /* line-height: 3vh; */
}
.blog_alert button {
  padding: 8px;
  background-color: rgb(121, 121, 183);
  margin-left: 0;
  border-style: none;
  margin-top: 10px;
  color: white;
}
.blog_alert input {
  padding: 8px;
  /* background-color: rgb(121, 121, 183);   */
  border-style: none;
}
.follow_us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.find_app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.find_app img {
  margin-top: 3vh;
}
.follow_us h4 {
  margin-bottom: 10px;
}
.follow_us span i {
  margin-right: 20px;
  padding: 10px 5px;
}
.lower_footer {
  width: 100%;
  height: 5vh;
  background-color: rgb(213, 200, 248);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: black;
  list-style: none;
}
.popular_searches {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.popular_searches a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  /* padding-bottom: 8px; */
}
.lower_footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.lower_footer ul i {
  margin: 10px;
}
.footer_two li {
  padding-right: 20px;
}

.upper_div ul li {
  padding: 8px;
}

@media (max-width: 768px) {
  .hotel_name {
    font-size: 2vh;
  }
  .our_app {
    background-color: rgb(200, 176, 223);
  }
  .ri-menu-3-line {
    display: block;
    font-size: 20px;
    font-weight: 800;
    padding-right: 20px;
    color: white;
  }
  .subdiv li {
    display: none;
  }
  .about_details {
    line-height: 23px;
  }
  .over_img {
    height: 50%;
    margin-top: 3vh;
  }
  .over_img h1 {
    font-size: 5vw;
    color: black;
  }
  .about_us {
    height: auto;
  }
  .our_app_main h2 {
    background-color: yellowgreen;
    width: 100%;
    font-size: 3vw;
  }
  .our_app {
    padding: 0;
    width: 100%;
  }
  .our_app img {
    width: 150px;
    height: 30vh;
    border-radius: 25px;
  }
  .our_app_image {
    width: 50vw;
    align-items: center;
    justify-content: center;
  }
  .our_app {
    width: 100vw;
    justify-content: space-between;
  }
  .our_app_main {
    width: 50vw;
  }
  .about_us {
    height: 100vh;
  }
  .footer_main {
    /* height: auto; */
    /* margin-top: 0;
    padding-top: 0; */
  }
  .contact_details {
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 0;
  }
  .contact_users {
    padding: 0;
  }
  .contact_vendor {
    border: none;
  }
  .upper_div {
    padding: 0;
    width: 90vw;
  }
  .adress {
    width: 85vw;
    margin: 15px 0px;
  }
  .blog_alert input {
    width: 29vh;
  }
}
