* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --colorFive: #7979b7;
  --colorSober: #e6e4f7;
  --colorOne: #eef7ff;
  --colorTwo: #cde8e5;
  --colorThree: #7ab2b2;
  --colorFour: #4d869c;
  /* --colorFour: #2d3250; */
  --conatiner-margin: 6vh 0;
}
.heading {
  color: var(--colorFour);
  text-transform: uppercase;
  margin-bottom: 2vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  transition-duration: 0.2s;
}
a:hover {
  color: red;
  font-size: 18px;
}

h4 {
  color: var(--colorFour);
  text-transform: capitalize;
}
.topper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--colorTwo);
}
.topper-right {
  display: flex;
  gap: 1vw;
  align-items: center;
}
.hotel_name {
  text-align: center;
  padding: 0.31rem;
  color: var(--colorFour);
  font-size: 0.8rem;
}
/* **topper button started** */

.button {
  cursor: pointer;
  background-color: var(--colorFour);
  padding: 8px 25px;
  border: solid 2px var(--colorFour);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.1s linear 0.1s;
}
.button span {
  color: var(--colorOne);
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
  transition: 0.2s linear 0.1s;
}
.button::after {
  display: block;
  content: "";
  background-color: var(--colorOne);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  transform: translateX(-40%);
  transition: 0.2s linear 0.1s;
  z-index: 1;
}
.button:hover {
  box-shadow: 0px 0px 20px var(--colorFour);
}
.button:hover::after {
  top: -50%;
}
.button:hover span {
  color: var(--colorFour);
  letter-spacing: 4px;
}

/* **topper button ended** */

/* .list a {
  text-decoration: none;
  color: var(--text-color);
} */

body {
  background-color: var(--colorSober);
}

/* ***nav list animation started*** */
.list_btn {
  font-size: 18px;
  color: var(--colorOne);
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.list_btn:focus,
.list_btn:hover {
  color: #fff;
}

.list_btn:focus:after,
.list_btn:hover:after {
  width: 100%;
  left: 0%;
}

.list_btn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--colorOne);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.nav-list-subdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2vw;
}
/* ***nav list animation started*** */

.nav {
  /* position: -webkit-sticky; */
  /* background-color: #e8e8e8; */
  background-color: var(--colorFour);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* position: -webkit-sticky; */
  position: sticky;
  align-self: start;

  top: 0px;
  width: 100%;
  /* z-index: 100; */
  box-shadow: rgb(27, 40, 54) 0px 20px 30px -10px;
  /* position: fixed; */
  /* position: fixed; */
  /* top: 0px; */
  z-index: 100;
  /* visibility: hidden; */
}

/* ***mobile nav satrted*** */

.mobile_list {
  position: fixed;
  top: 100px;
  left: 60vw;
  width: 40vw;
  height: 100%;
  z-index: 999;
  background-color: royalblue;
}
.mobile_nav-list-subdiv {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 80%;
}
.mobile_nav-list-subdiv button {
  font-weight: 600;
}
/* ***mobile nav endeed*** */

main {
  background-color: var(--colorOne);
}
.icon img {
  width: 50px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}
.over_img {
  background-image: url("pictures/ciudad-maderas-MXbM1NrRqtI-unsplash.jpg"),
    linear-gradient(#2928287c, #767676, #302f2f84);
  background-blend-mode: multiply;
  /* height: 77vh; */
  /* border-bottom: 8px solid rgb(41, 41, 41); */
  /* filter: blur(2px); */
  /* -webkit-filter: blur(8px); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55vh;
  flex-direction: column;
  /* margin-top: 50px; */
  line-height: 5vh;
}

.over_img h1 {
  text-transform: uppercase;
  color: white;
  font-size: 5vh;
  font-weight: 500px;
}
.over_img p {
  text-transform: uppercase;
  color: white;
  font-size: 2vh;
  font-weight: 500;
  /* margin-top: 20px; */
  /* margin-bottom: 50px; */
}
.main-margin-div {
  margin: 0px 8vw;
}
/* section {
  width: 100%;
} */
.inhouse-services-main {
  margin: 0px 8vw;
}

/* **********popular searches starts here********** */
.popular_searches_maincontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  align-items: center;
  /* background-color: rgb(187, 172, 143); */
  /* border: 2px solid black; */
  justify-content: space-between;
}

.popular_venue_search {
  /* background-color: rgb(155, 192, 61); */
  width: 100%;
  position: sticky;
  top: -400px;
  z-index: 1;
  margin: var(--conatiner-margin);
}
.popular_searches_maindiv {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  align-items: center;
  /* background-color: rgb(187, 172, 143); */
  /* border: 2px solid black; */
}
.popular_searches_photoDiv {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.popular_searches_photoDiv img:hover {
  transform: scale(1.1);
}
.popular_searches_photoDiv img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  transition-duration: 0.5s;
}
.popular_searches_descriptionDiv {
  width: 200px;
  height: 200px;
  /* background-color: #fff; */
}
.popular_searches_descriptionDiv h4 {
  margin-bottom: 2rem;
  text-decoration: underline;
}

.popular_searches_cities {
  display: flex;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 0.5rem;
}
.popular_searches_cities p::before {
  content: "";
}
/* **********popular searches ends here********** */

/* photo galary starts here */
.photo_galary_maindiv {
  /* background-color: var(--colorFour); */
  width: 100%;
  margin: var(--conatiner-margin);
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-direction: column; */
}
.photo_galary-main_card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: space-between;
}
.photo_div img {
  width: 100%;
  object-fit: cover;
}
.photo_galary-main_card {
  text-align: center;
  border: 2px solid var(--colorFour);
  /* display: inline-block; */
  width: 20%;
}
/* photo galary ends here */
.our_app {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #7fc7d9;
  /* background-color: rgb(209, 166, 202); */
  /* background-color: rgb(225, 221, 251); */
}
.app {
  width: 90%;
  height: 50vh;
  /* align-items: center ; */
  display: flex;
  justify-content: space-between;
  /* background-color: wheat; */
  padding-left: 1vw;
}
.our_app_main {
  /* background-color: rgb(255, 224, 224); */
  /* filter: blur(7px) brightness(90%); */
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  /* padding-left: 5vw; */
  justify-content: center;
  /* align-items: center; */
}
.our_app_main div {
  padding: 2vh;
}
.our_app_list {
  display: flex;
  color: white;
  justify-content: space-between;
}
.our_app_list p i {
  margin: 5px;
}
.mobile_number input {
  border-style: none;
  padding: 1vh;
}
.our_app img {
  width: 200px;
  height: 40vh;
  border-radius: 25px;
}
.our_app_image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
}
.platform_logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  /* background-color: blue; */
  margin-left: 30%;
  /* color: black; */
  font-size: 40px;
}
.ri-android-fill {
  font-size: 35px;
  margin-top: 5px;
}
/* ++++++++++++++++++++++ */
.wedding_catagories_main {
  /* background-color: rgb(227, 203, 250); */
  margin: var(--conatiner-margin);
}
.wedding_catagories_heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.wedding_catagories_main h2 {
  text-wrap: nowrap;
}
.wedding_catagories_sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: rgb(226, 242, 249); */
  /* padding: 60px 0; */
  gap: 3vw;
  align-items: start;
}
.wedding_catagories {
  width: 40vw;
  height: 150px;
  /* margin: 10px; */
  background-color: var(--colorFour);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.wedding_catagories_written {
  padding-left: 20px;
}
.wedding_catagories_img img {
  height: 200px;
  /* border-radius: 50px; */
  object-fit: cover;
  clip-path: ellipse(99% 180px at 100% 50%);
  /* overflow: hidden; */
}

/* ******AL Venture inhouse services starts********** */
.card_main {
  background-color: var(--colorFour);
  width: 40vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  /* gap: 2vw; */
  /* border: 2px solid red; */
  flex-wrap: wrap;
  overflow: hidden;
}
.card_sub {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: ; */
}
.card_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: bisque; */
}
.card_button {
  display: flex;
  justify-content: center;
  /* background-color: blue; */
  height: 5vh;
}
.card_button button {
  border-style: none;
  background-color: #fff;
  /* color: rgb(222, 144, 157); */
  height: 4vh;
  width: 6vw;
}
.card_button button:hover {
  background-color: #365984;
  cursor: pointer;
  color: #fff;
}
.card_photo img {
  width: 550px;
  height: 200px;
  object-fit: cover;
}
.card_photo {
  width: 550px;
  height: 200px;
  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
  box-sizing: border-box;
  background-color: #365984;
}
.card_photo img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.inhouse_services_main {
  display: flex;
  /* height: 100vh; */
  gap: 2vw;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* ******AL Venture inhouse services ends here********** */

/* ++++++++++++++++++++++ */
.inhouse_services_main {
  display: flex;
  height: 100vh;
}
.footer_main {
  height: 60vh;
  width: 100%;
  background-color: rgb(121, 121, 183);
  display: flex;
  justify-content: center;
  align-items: end;
}
.upper_div {
  width: 80%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid rgb(45, 45, 45);
  padding: 80px 0px;
}
.about_us {
  height: auto;
  width: 100%;
  background-color: rgb(225, 221, 251);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.about_details {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 2vh;
  line-height: 1.5vw;
}
.about_us_content_box {
  /* background-color: rgb(255, 255, 255); */
  margin-top: 5vh;
  width: 80%;
}
.about_us_content_box h3 {
  margin-bottom: 2vh;
}
.social_media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: rgb(202, 220, 251); */
  width: 80%;
  height: auto;
  height: 40vh;
  padding-top: 5vh;
}
.contact_us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3vh;
}
.contact_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}
.contact_vendor {
  border-right: 1px solid grey;
  padding-right: 1vw;
}
.contact_users {
  padding-left: 2vw;
}
.adress {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50vh;
  /* line-height: 3vh; */
}
.blog_alert button {
  padding: 8px;
  background-color: rgb(121, 121, 183);
  margin-left: 0;
  border-style: none;
  margin-top: 10px;
  color: white;
}
.blog_alert input {
  padding: 8px;
  /* background-color: rgb(121, 121, 183);   */
  border-style: none;
}
.follow_us {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.find_app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.find_app img {
  margin-top: 3vh;
}
.follow_us h4 {
  margin-bottom: 10px;
}
.follow_us span i {
  margin-right: 20px;
  padding: 10px 5px;
}
.lower_footer {
  width: 100%;
  height: 5vh;
  background-color: rgb(213, 200, 248);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: black;
  list-style: none;
}
.popular_searches {
  /* width: 60vw; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.popular_searches a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  /* padding-bottom: 8px; */
}
.lower_footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.lower_footer ul i {
  margin: 10px;
}
.footer_two li {
  padding-right: 20px;
}

.upper_div ul li {
  padding: 8px;
}

@media (max-width: 768px) {
  .hotel_name {
    font-size: 2vh;
  }
  .our_app {
    background-color: rgb(200, 176, 223);
  }
  .ri-menu-3-line {
    display: block;
    font-size: 20px;
    font-weight: 800;
    padding-right: 20px;
    color: white;
  }
  .about_details {
    line-height: 23px;
  }
  .over_img {
    height: 50%;
    margin-top: 3vh;
  }
  .over_img h1 {
    font-size: 5vw;
    color: black;
  }
  .about_us {
    height: auto;
  }
  .our_app_main h2 {
    background-color: yellowgreen;
    width: 100%;
    font-size: 3vw;
  }
  .our_app {
    padding: 0;
    width: 100%;
  }
  .our_app img {
    width: 150px;
    height: 30vh;
    border-radius: 25px;
  }
  .our_app_image {
    width: 50vw;
    align-items: center;
    justify-content: center;
  }
  .our_app {
    width: 100vw;
    justify-content: space-between;
  }
  .our_app_main {
    width: 50vw;
  }
  .about_us {
    height: 100vh;
  }
  .footer_main {
    /* height: auto; */
    /* margin-top: 0;
    padding-top: 0; */
  }
  .contact_details {
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 0;
  }
  .contact_users {
    padding: 0;
  }
  .contact_vendor {
    border: none;
  }
  .upper_div {
    padding: 0;
    width: 90vw;
  }
  .adress {
    width: 85vw;
    margin: 15px 0px;
  }
  .blog_alert input {
    width: 29vh;
  }
}
